@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Roboto, Helvetica, sans-serif;
  max-width: 95%;
  margin: 0 auto;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

label {
  padding-top: 0.35em;
}
label, select, input {
  font-size: 1.125em;
  height: 16px;
  height: 1.5em;
  white-space: nowrap;
}

.navBar span {
  white-space: nowrap;
}

.search {
  flex-grow: 1;
  text-align: right;
}

#searchInput {
  line-height: 1;
  width: 80%;
  max-width: 16em;
  font-size: 0.9em;
  background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(../assets/searchIcon.svg);
  background-position: 2px;
  /* padding: 0 0 0 1.5em; */
  /* background-size: calc(1.5em - 5px); */
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#searchInput::placeholder {
  color: #333;
}

select {
  margin-right: 0.75em;
  width: 6.5em;
}

select, input {
  border-radius: 0.25em;
  border: 1px solid rgba(20, 20, 20, 0.5);
}

.content {
  margin: 0 auto;
  margin-top: 1rem;
  min-width: 40em;
  overflow-x: hidden;
  width: 85%;
  max-width: 75rem
}

table {
  margin-top: 0.75em;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 0.35em 0.75em;
  width: 3em;
  text-align: center;
}

th {
  padding: 0.5em 1em;
  font-size: 1.125em;
  border-bottom: 0.15em solid black;
}

td {
  min-width: max-content;
  white-space: nowrap;
}
.nameHeader {
  width: 40%;
}
.nameCell {
  padding-left: 0.75em;
  text-align: left;
}
@media (max-width: 64rem) {
  .content {
    min-width: fit-content;
  }
}
@media (max-width: 48rem) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 40rem) {
  body {
    font-size: 0.7rem;
  }
  select {
    width: 7em;
  }
}

@media (max-width: 32rem) {
  body {
    font-size: 0.6rem;
  }
  .nameHeader {
    width: 25%;
  }
  .content {
    overflow-x: auto;
    /* min-width: fit-content; */
    width: 28rem;
  }
}
